''
@{
    ViewBag.Title = "NavList";
}

<div>
    <a href="/Navigation/Add">Add New</a>
</div>
<form action="/Navigation/List" method="get">
    <!--SEARCH-->
</form>
<div>
    <div><a href="/Navigation/Show/@Page.page_id">@Page.Title</a></div>
</div>
