@model List<HospitalProject_Team4.Models.Department>
@{
    ViewBag.Title = "New";
}

<h2>Add a New Job Posting</h2>
<div class="navbar">
    <a class="btn btn-secondary" href="/Jobs/Admin/List">Back to All Jobs</a>
</div>
<form method="POST" action="/Jobs/Admin/New">
    <div class="inpfield"><span>Job Title:</span><input id="JobTitle" type="text" name="JobTitle" /></div>
    <div class="inpfield">
        <span>Department:</span>
        <select id="DepartmentID" type="text" name="DepartmentID">
            @{
                //Create a drop down for departments with a rendering loop
                // rendering loop pulls everything from the Departments table
                foreach (var department in Model)
                {
                    <option value="@department.DepartmentID">@department.Name</option>

                }
            }
        </select>
    </div>
    <div class="inpfield"><span>Application Deadline:</span><input id="AppDeadline" type="text" name="AppDeadline" placeholder="YYYY/MM/DD" /></div>
    <div class="inpfield"><span>Send Application To:</span><input id="AppAccept" type="text" name="AppAccept" /></div>
    <div class="inpfield">
        Job Description:
        <textarea id="JobDesc" name="JobDesc">
        </textarea>
    </div>
    <div class="inpfield">
        <input class="btn btn-success" type="submit" value="Add Job Posting">
    </div>
</form>



