@model List<HospitalProject_Team4.Models.Donation>

@{
    ViewBag.Title = "List";
}

<h2>List of Donors</h2>
<div class="navbar">
    <a class="navlink" href="/Donation/Add">Make Donation</a>
</div>
<form action="/Donation/List" method="GET">
    <input type="text" name="searchkey" id="searchkey" />
    <input type="submit" value="Search" />
</form>
<div class="tilecontainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Amount</th>
                <th scope="col">Donated on</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Donation in Model)
                {
                    <tr>
                        <th scope="row">
                            <a href="/Donation/Show/@Donation.DonationID">
                                @Donation.ApplicationUser.UserName
                            </a>
                        </th>

                        <td> @Donation.ApplicationUser.Email</td>
                        <td>@Donation.donation_amount</td>
                        <td>@Donation.donated_on</td>

                    </tr>
                    }
                }
            </tbody>
        </table>

 </div>
  
