@model List<HospitalProject_Team4.Models.VolunteerRecruitment>

@{
    ViewBag.Title = "List";
}

<h2>List of Volunteers</h2>
<div class="navbar">
    <a class="navlink" href="/VolunteerRecruitment/Add">Add New</a>
</div>
<form action="/VolunteerRecruitment/List" method="GET">
   Find any Volunteer <input type="text" name="volunteersearchkey" id="volunteersearchkey" />
    <input type="submit" value="Search" />
</form>
<div class="tilecontainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Specialization</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Volunteer in Model)
                {

                    <tr>
                        <th scope="row">
                            <a href="/VolunteerRecruitment/Show/@Volunteer.volunteer_id">
                                @Volunteer.ApplicationUser.UserName
                            </a>
                        </th>
                        @{
                            if (Volunteer.HasFile == 1)
                            {
                                <a href="../../Content/VolunteerFiles/@(Volunteer.HasFile).@(Volunteer.volunteer_FileExtension)" alt="File of @Volunteer.volunteer_status" />
                            }
                        }

                        <td> @Volunteer.volunteer_specialization</td>
                        <td>@Volunteer.volunteer_status</td>

                    </tr>
                }
            }

        </tbody>
</table>
   
         
    <div style="clear:both;"></div>
</div>
